/* mobile large to small */
@media only screen and (max-width: 426px) {
    body {
      background-color: lightblue;
    }

  }

@media only screen and (max-width: 769px) {
    body {
        background-color: lightcoral;
    }
    #mobile_navbar {
      display: unset;
    }
    #navbar {
      display: none;
    }
    .topnav {
      position: unset;
      overflow: hidden;
    }

}