:root {
  --dark-bg: #0B6E4F;
  --light-text: #E3E3E3;
  --link-hover: #CE4760;

  --btn-hover: #CE4760;
  --btn-primary: #39A0ED;
  --btn-primary-hover: #E3E3E3;

  --btn-secondary: #0B6E4F;
  --btn-secondary-hover: #CE4760;

  --bg-light: #E3E3E3;
  --secondary: #0B6E4F;
  --primary: #0B6E4F;
  --dark: #0E1116;
  --bg-dark: #0E1116;

  --danger: #CE4760;
}

* {
  padding: 0;
  margin: 0;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.mobileNavbar {
  background-color: var(--bg-dark);
  padding: 3rem 2rem;
  top: 10vh;
  right: 0;
  color: var(--light-text);
  overflow: hidden;
  z-index: 99;
  transition: transform 0.3s;
  transform: translateX(100%);
  position: fixed;
  height: 100vh;
}

.nav-link a {
  text-decoration: none;
  color: var(--light-text);
  padding: 2px 5px;
  transition: 0.2s;
}

.nav-link {
  margin-bottom: 15px;
}

.nav-link a:hover {
  color: var(--link-hover);
  transition: 0.2s;
  border-radius: 2px;
}

.nav-item li {
  list-style: none;
  font-size: 25px;
}

.login-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  width: 100%;
}

.login-btn,
.signup-btn {
  border: 1px solid #ffffff;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 10vh;
  margin-bottom: 0;
}
.header-opposite {
  color: var(--light-text);
  transition: .2s;
  background-color: var(--bg-dark);
}
.header-opposite .btn {
  color: var(--light-text);
  cursor: pointer;
}
.header-opposite .btn:hover {
  color: var(--link-hover);
}

.btn {
  padding: 12px 16px;
  margin: 20px 0;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  background-color: transparent;
  border-style: none;
  transition: .2s;
  cursor: pointer;
}
.btn-primary {
  background-color: var(--btn-primary);
  color: var(--btn-primary-hover)
}
.btn-primary:hover {
  background-color: var(--btn-primary-hover);
  color: var(--btn-primary);
}

.btn:hover {
  transition: .2s;
}

.btn-secondary {
  background-color: var(--btn-secondary);
  color: var(--light-text);
}
.btn-secondary:hover {
  background-color: var(--btn-secondary-hover);
  color: var(--light-text);
}

.btn-outline {
  border-style: solid;
}
.btn-outline-seconary {
  border-color: var(--secondary);
}
.btn-outline-primary {
  border-color: var(--primary);
}

input[type=search] {
  width: 100%;
  margin: 10px auto;
  padding: 8px 10px 8px 4px;
  font-size: 28px;
  border-radius: 5px;
  border: 1px solid black;
}
.search {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.categories {
  display: flex;
  overflow-x: auto;
}
.filters {
  width: 100;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}
.w-100 {
  width: 100% !important;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  width: 15rem;
  margin: 8px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.card:nth-child(3n+3) {
  flex-grow: 3;
}
.card .card-image:nth-child(3n+3) {
  height: 200px;
}
.card:nth-child(2n+2) {
  flex-grow: 9;
}
.card .card-image:nth-child(2n+2) {
  height: 100px;
}

.card-shadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.card-border {
  border: 1px solid black;
  width: 25rem;
  padding: 12px 25px;
  border-radius: 5px;
}

.card-image {
  width: 100%;
}    

.card-title {
  font-size: 24px;
}
.card-body {
  width: 100%;
}
.pricing {
  font-weight: bold;
}

/* footer */


