<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <head th:replace="~{partials :: head}"></head>
    <title>Art Portfolio</title>
  </head>
  <body>
    <nav th:replace="~{partials :: navbar}"></nav>
    <section id="categories" class="categories">
      <div th:each="categories : ${categories}">
        <a
          th:href="@{|/category/${categories.category}|}"
          class="btn btn-outline"
          style="margin: auto"
        >
          <span th:text="${categories.category}"></span>
        </a>
      </div>
    </section>

    <div class="container px-4 py-5" id="custom-cards">
      <section class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
        <div th:replace="~{partials :: gallery}"></div>
      </section>
    </div>

    <div th:replace="~{partials :: Footer}"></div>

    <div th:replace="~{partials :: js}"></div>
  </body>
</html>
