<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <head th:replace="~{partials :: head}"></head>
  <title>Art Portfolio</title>
</head>

<body>
  <nav th:replace="~{partials :: navbar}"></nav>
  <section id="categories" class="my-4 mx-2">
    <a class="btn btn-outline-dark" th:each="categories : ${categories}"
      th:href="@{|/category/${categories.category}|}">
      <span th:text="${categories.category}"></span>
    </a>
  </section>

<!-- users -->

  <section class="filters d-flex justify-content-end container">
    <div class="btn-group">
      <button class="btn btn-outline-secondary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        Filters
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" th:href="@{|/gallery/best|}">Best</a></li>
        <li><a class="dropdown-item" th:href="@{|/gallery/recent-oldest|}">Recent - Oldest</a></li>
        <li><a class="dropdown-item" th:href="@{|/gallery/oldest-recent|}">Oldest - Recent</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" th:href="@{|/gallery/suprise-me|}">Surprise Me!</a></li>
      </ul>
    </div>
  </section>

  <div class="container px-4 py-5" id="custom-cards">
    <section class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <div th:replace="~{partials :: gallery}"></div>
    </section>
  </div>

  <footer th:replace="~{partials :: footer}"></footer>

  <script th:replace="~{partials :: js}"></script>
</body>

</html>