<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <head th:replace="~{partials :: head}"></head>
  <title>Art Portfolio</title>
</head>
<body>
  <nav th:replace="~{partials :: navbar}"></nav>
  
  <section id="categories" class="categories" th:each="categories : ${categories}">
    <a th:href="@{|/category/${categories.category}|}" class="btn btn-outline" style="margin: auto;">
      <span th:text="${categories.category}"></span>
    </a>
  </section>

  <section class="filters">
    <button class="btn btn-outline w-100">Filters</button>
  </section>

  <section class="gallery">
    <div th:replace="~{partials :: gallery}"></div>
  </section>

  <footer th:replace="~{partials :: footer}"></footer>
  
  <script th:replace="~{partials :: js}"></script>
</body>

</html>