<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <head th:replace="~{partials :: head}"></head>
    <title>Art Portfolio</title>
  </head>
  <body>
    <nav th:replace="~{partials :: navbar}"></nav>
    <div class="container" style="margin-top: 15vh">
        <div class="card">
      <h1>Log In</h1>
      <div th:if="${param.error}">Invalid Username and Password.</div>
      <div th:if="${param.logout}">You have been logged out.</div>

      <form th:action="@{/login}" method="post">
        <label for="username">Username</label>
        <input class="form_control" id="username" name="username" type="text" />
        <label for="password">Password</label>
        <input id="password" name="password" type="password" />
        <input class="form_control" type="submit" value="Log In" />
      </form>
    </div>
    </div>

    <div th:replace="~{partials :: Footer}"></div>
    <script th:replace="~{partials :: js}"></script>

  </body>
</html>
