<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <head th:replace="~{partials :: head}"></head>
    <title>Art Portfolio</title>
  </head>
  <body>
    <nav th:replace="~{partials :: navbar}"></nav>
    <div class="container centered" style="margin-top: 15vh">
      <div class="card card-border">
        <h1>Log In</h1>
        <div th:if="${param.error}">Invalid Username and Password.</div>
        <div th:if="${param.logout}">You have been logged out.</div>

        <form th:action="@{/login}" method="post">
          <label class="form-label" for="username">Username</label>
          <input
            class="form-control"
            id="username"
            name="username"
            type="text"
          />
          <label class="form-label" for="password">Password</label>
          <input
            class="form-control"
            id="password"
            name="password"
            type="password"
          />
          <input class="btn btn-primary" type="submit" value="Log In" />
        </form>
      </div>
    </div>

    <div th:replace="~{partials :: Footer}"></div>
    <script th:replace="~{partials :: js}"></script>
  </body>
</html>
