<!-- ----------------------------------------------------------------------- -->
<!--                              Head Partial                               -->
<!-- ----------------------------------------------------------------------- -->
<head th:fragment="head">
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" th:href="@{/css/style.css}" />
  <link rel="stylesheet" th:href="@{css/media.css}" />
</head>
<!-- ----------------------------------------------------------------------- -->
<!--                               End Header                                -->
<!-- ----------------------------------------------------------------------- -->

<!-- ----------------------------------------------------------------------- -->
<!--                                 Navbar                                  -->
<!-- ----------------------------------------------------------------------- -->
<nav th:fragment="Navbar">
  <nav id="navbar">
    <div class="topnav">
      <a class="nav_link active" href="/">Home</a>
      <a class="nav_link" href="/gallery">Gallery</a>
      <a class="nav_link" href="/contact">Contact</a>
      <a class="nav_link" href="/about">About</a>
      <!-- <button id="open_modal_btn" class="btn_primary">Login</button> -->
      <a href="/login" class="nav_link" sec:authorize="isAnonymous()">Login</a>
      <a href="/sign-up" sec:authorize="isAnonymous()">Sign Up</a>
      <a class="nav_link" href="/profile" sec:authorize="isAuthenticated()">Profile</a>
      <form
        th:action="@{/logout}"
        th:method="post"
        sec:authorize="isAuthenticated()">
        <button class="nav_link">Logout</button>
      </form>
    </div>
  </nav>

  <nav id="mobile_navbar">
    <button onclick="openHamburgerMenu()" class="openbtn">&#9776;</button>
    <div id="hamburger_menu" class="sidebar">
      <a
        href="javascript:void(0)"
        class="closebtn"
        onclick="closeHamburgerMenu()"
        >&times;</a
      >
      <a href="#">About</a>
      <a href="#">Services</a>
      <a href="#">Clients</a>
      <a href="#">Contact</a>
      <a href="/login">Login</a>
      <a href="/sign-up">Sign Up</a>
      <form th:action="@{/logout}" th:method="post">
        <button class="nav_link">Logout</button>
      </form>
      <!-- ---------------------------- Modal Trigger ---------------------------- -->
      <button id="open_modal_btn">Login</button>
      <!-- ---------------------------- Modal Trigger ---------------------------- -->
    </div>
  </nav>
  <!-- ----------------------------------------------------------------------- -->
  <!--                                  Modal                                  -->
  <!-- ----------------------------------------------------------------------- -->
  <div id="modal" class="modal">
    <!-- ---------------------------- Modal Content ---------------------------- -->
    <div class="modal-content">
      <div class="card">
        <button class="close" id="close_modal_btn">&times;</button>
        <div class="card_body">
          <div th:if="${param.error}">Invalid Username and Password.</div>
          <div th:if="${param.logout}">You have been logged out.</div>
          <form th:action="@{/login}" method="GET">
            <div class="d_flex">
              <label for="username">Username</label>
              <input
                type="text"
                class="form_control"
                id="username"
                placeholder="username"
              />
              <label for="password">Username</label>
              <input
                type="password"
                class="form_control"
                id="password"
                placeholder="password"
              />
              <input
                type="submit"
                class="btn btn_primary"
                placeholder="Login"
              />
              <p>Don't Have An Account? <a>Sign Up Here</a></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- ----------------------------------------------------------------------- -->
  <!--                               Modal Ends                                -->
  <!-- ----------------------------------------------------------------------- -->
</nav>
<!-- ----------------------------------------------------------------------- -->
<!--                            NavBar Ends Here                             -->
<!-- ----------------------------------------------------------------------- -->

<!-- ----------------------------------------------------------------------- -->
<!--                              Footer Start                               -->
<!-- ----------------------------------------------------------------------- -->
<footer th:fragment="Footer">
  <footer class="footer">
    <div class="footer_container">
     <div class="row">
       <div class="footer-col">
         <h4>company</h4>
         <ul>
           <li><a href="#">about us</a></li>
           <li><a href="#">our services</a></li>
           <li><a href="#">privacy policy</a></li>
           <li><a href="#">affiliate program</a></li>
         </ul>
       </div>
       <div class="footer-col">
         <h4>get help</h4>
         <ul>
           <li><a href="#">FAQ</a></li>
           <li><a href="#">shipping</a></li>
           <li><a href="#">returns</a></li>
           <li><a href="#">order status</a></li>
           <li><a href="#">payment options</a></li>
         </ul>
       </div>
       <div class="footer-col">
         <h4>online shop</h4>
         <ul>
           <li><a href="#">watch</a></li>
           <li><a href="#">bag</a></li>
           <li><a href="#">shoes</a></li>
           <li><a href="#">dress</a></li>
         </ul>
       </div>
       <div class="footer-col">
         <h4>follow us</h4>
         <div class="social-links">
           <a href="#"><i class="fab fa-facebook-f"></i></a>
           <a href="#"><i class="fab fa-twitter"></i></a>
           <a href="#"><i class="fab fa-instagram"></i></a>
           <a href="#"><i class="fab fa-linkedin-in"></i></a>
         </div>
       </div>
     </div>
    </div>
 </footer>
</footer>

<!-- ----------------------------------------------------------------------- -->
<!--                               Footer End                                -->
<!-- ----------------------------------------------------------------------- -->

<!-- ----------------------------------------------------------------------- -->
<!--                                  Card                                   -->
<!-- ----------------------------------------------------------------------- -->
<div th:fragment="Product_Card" th:each="post : ${post}">
  <div class="card">
    <img
      src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
      alt=""
      class="card_img"
    />
    <div class="card_body">
      <p class="card_title" th:text="${post.imageTitle}"></p>
      <p class="lead_text" th:text="${post.imageDesc}"></p>
      <span class="price_text" th:text="${post.imagePrice}"></span>
    </div>
  </div>
</div>
<!-- ----------------------------------------------------------------------- -->
<!--                                Card Ends                                -->
<!-- ----------------------------------------------------------------------- -->

<!-- ----------------------------------------------------------------------- -->
<!--                                 SIGN UP                                 -->
<!-- ----------------------------------------------------------------------- -->
<div th:fragment="Sign_Up">
  <h1>Create an account</h1>
  <form th:action="@{/sign-up}" method="POST" th:object="${user}">
    <label for="username">Username</label>
    <input id="username" th:field="*{username}" />

    <label for="email">Email</label>
    <input id="email" th:field="*{email}" />

    <label for="password">Password</label>
    <input id="password" type="password" th:field="*{password}" />

    <input value="Sign me up!" type="submit" />
  </form>
</div>

<!-- ----------------------------------------------------------------------- -->
<!--                              SIGN UP ENDS                               -->
<!-- ----------------------------------------------------------------------- -->

<!-- ----------------------------------------------------------------------- -->
<!--                                 SIGN IN                                 -->
<!-- ----------------------------------------------------------------------- -->
<div th:fragment="Log_In">
  <h1>Log In</h1>
  <div th:if="${param.error}">Invalid Username and Password.</div>
  <div th:if="${param.logout}">You have been logged out.</div>

  <form th:action="@{/login}" method="post">
    <label for="username">Username</label>
    <input id="username" name="username" type="text" />
    <label for="password">Password</label>
    <input id="password" name="password" type="password" />
    <input type="submit" value="Log In" />
  </form>
</div>

<!-- ----------------------------------------------------------------------- -->
<!--                              SIGN IN ENDS                               -->
<!-- ----------------------------------------------------------------------- -->

<!-- ----------------------------------------------------------------------- -->
<!--                               LOG OUT BTN                               -->
<!-- ----------------------------------------------------------------------- -->
<div th:fragment="Log_Out_Btn">
  <ul>
    <!-- More links here... -->
    <li>
      <form th:action="@{/logout}" th:method="post">
        <button class="btn-link btn" style="margin-top: 8px">Logout</button>
      </form>
    </li>
  </ul>
</div>

<!-- ----------------------------------------------------------------------- -->
<!--                            LOG OUT ENDS HERE                            -->
<!-- ----------------------------------------------------------------------- -->

<!-- <html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div sec:authorize="isAuthenticated()">
  This content is only shown to authenticated users.

  User ID: <span th:text="${#authentication.principal.id}"/>
  Username: <span th:text="${#authentication.principal.username}"/>
  Email: <span th:text="${#authentication.principal.email}"/>
</div> -->
