<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="~{partials :: head}">
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
      </head>
<body>
    <nav th:replace="~{partials :: Navbar}"></nav>

    <h1>Create an account</h1>
    <form th:action="@{/post/create}" method="POST" th:object="${post}" enctype="multipart/form-data">
        <label for="title">title</label>
        <input id="title" th:field="*{imageTitle}" />

        <label for="file">Upload a file!</label>
        <input id="file" name="file" type="file" />

        <label for="desc">desc</label>
        <input id="desc" th:field="*{imageDesc}" />

        <label for="price">price</label>
        <input id="price" th:field="*{imagePrice}" />

        <input value="create post!" type="submit" />
    </form>
</body>
</html>
