<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

  <head th:replace="~{partials :: head}"></head>
  <title>Art Portfolio</title>
</head>

<body>
  <nav th:replace="~{partials :: navbar}"></nav>
  <div class="container-fluid my-5">
    <div class="row justify-content-center align-content-center align-items-center">
      <div class="col">
        <img src="/images/ns8230-image.jpg" class='img-fluid' alt="">
      </div>
      <div class="col-">
        <div class="card">
          <div class="card-body">
            <div class="card-title">Title: <span th:text="${post.postTitle}"></span></div>
            <p class="text-lead">Description: <span th:text="${post.postDescription}"></span></p>
            <p>
              Price: <span th:text="${post.postPrice}"></span>
            </p>
            <p class="text-lead">
              Creator:
              <span th:text="${post.getUser().getUsername()}"></span>
            </p>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  

  <div th:replace="~{partials :: Footer}"></div>

  <script th:replace="~{partials :: js}"></script>
</body>

</html>