<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
  <head th:replace="~{partials :: head}"></head>
  <title>Art Portfolio</title>
</head>
  <body>
    <nav th:replace="~{partials :: navbar}"></nav>
    <div class="container centered" style="margin-top: 15vh">
      <div class="card card-border">
        <h1>Create an account</h1>
        <form th:action="@{/sign-up}" method="POST" th:object="${user}">
          <label for="username">Username</label>
          <input id="username" th:field="*{username}" type="text" />

          <label for="firstName">firstname</label>
          <input id="firstName" th:field="*{firstName}" type="text" />

          <label for="lastName">lastname</label>
          <input id="lastName" th:field="*{lastName}" type="text" />

          <label for="email">email</label>
          <input id="email" th:field="*{email}" type="email" />

          <label for="password">password</label>
          <input id="password" type="password" th:field="*{password}" />

          <input class="btn btn-primary" value="Sign me up!" type="submit" />
        </form>
      </div>
    </div>
    <div th:replace="~{partials :: Footer}"></div>

    <script th:replace="~{partials :: js}"></script>
  </body>
</html>
